* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(115, 115, 115);
}

h1 {
    font-size: 20px;
    margin: 19px;
    color: rgb(0, 64, 121);
    font-family: 'Montserrat', sans-serif;
}

.container1 {
    margin: 5px;
    margin-top: 40px;
    padding-bottom: 50px;
    padding-right: ;
    border-radius: 20px;
}

button {
    display: block;
    height: 35px;
    background-color: rgb(255, 216, 59);
    width: 260px;
    --animate-duration: 1.5s;
    margin: 15px;
    border-radius: 15px;
    border: 0px solid;
    font-family: 'Montserrat', sans-serif;
    /* box-shadow: 2px 5px 2px gray; */
}

.container1 a {
    text-decoration: none;
}

button:hover {
    background-color: rgb(59, 176, 255);
    transition: 0.5s;
}

p {
    padding-top: 30px;
    font-size: 9px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
}